<p id="notice"><%= notice %></p>
<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<h1 style="font-size:1.8em;">収入履歴</h1>

<table>

  <tbody>
    <% @incomehistories.each do |price| %>
      <tr>
        <td><%= link_to "#{price.date} 　　￥#{price.price}", price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
