<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<% if @price.hanbetsu == "支出" %>
<h1>支出登録</h1>
<% end %>

<% if @price.hanbetsu == "収入" %>
<h1>収入登録</h1>
<% end %>

<%= render 'form' %>

