<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

<h1>カテゴリ編集</h1>

<%= render 'form' %>

<%= link_to '詳細', @category %> |
<%= link_to '戻る', categories_path %>
