<style type="text/css">
    body {
      background-image: url(<%= asset_path 'CorkBoard02.jpg' %>);
    }
</style>

﻿<h1 style="font-size:1.8em;">カテゴリー新規作成</h1>

<%= render 'form' %>

<%= link_to 'カテゴリー一覧へ', categories_path, class: "btn btn-large btn-primary" %> |
<%= link_to '戻る', configurations_index_path, class: "btn btn-large btn-primary" %>
